html, body{
    padding: 0;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#area-acao{
    background-color: antiquewhite;
    width: 620px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 10px;
}

button{
    background-color: #127369;
    color: #8AA6A3;
    height: 20%;
    width: 20%;
    border-radius: 5rem;
    margin: 10px;
}

#area-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

textarea{

    width: 45%;
    height: 40%;
    border: none;
    border-radius: 10px;
    margin: 10px;

}
